<div class="container">

  <ul class="gnavi">
    <li><%= link_to "Profile", "/profile" %></li>
    <li class="current"><%= link_to "Dashboard", "/dashboard" %></li>
  </ul>

  <h2>ダッシュボード</h2>
  <div class="d-flex">
    <div class="card-content w-25" >
      <%= image_tag avatar_url(current_user), class:"img-fluid mb-3" %>
      
      <div class="button d-flex justify-content-center">
        <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post do |f| %>
          <div class="file">
            <label class="btn btn-primary w-100">  
              画像アップロード
              <%= f.file_field :avatar, class: "hidden", onchange: "this.form.submit();" %>
            </label>
          </div>
        <% end %>   
      </div>
    
    </div>

    <div class="content">
      <p class="lead">
        <%= current_user.name %>
      </p>
    </div>

  </div>

</div>
